<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="static/css/jdym.css?1">
	<title></title>
</head>
<body>
	{include file="wdjd/wddd.html"}
	<div class="txtp">
<p style="margin-top: 10px">婚姻情况：<tr>
	<td><input type="radio" name="000">未婚</td>
	<td><input type="radio" name="000" >已婚</td>
	<td><input type="radio" name="000" >保密</td>
</tr></p></br>
<p><tr>
	<td>月收入：<select>
		<option value="1">请选择</option>
		<option value="2">高</option>
	</select></td>
</tr></p></br>
<p><tr>
	<td>身份证号码：<input type="text" name="text"></td>
</tr></p></br>
<p><tr>
	<td>教育程度：<select>
		<option value="1">请选择</option>
		<option value="2">高</option>
	</select></td>
</tr></p>
</br>
<p><tr>
	<td>所在行业：<select>
		<option value="1">请选择</option>
		<option value="2">高</option>
	</select></td>
</tr></p>
<div style="margin-top: 30px">
		<input type="submit" >
</div>
</div>
</body>
</html>