<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="static/css/jdym.css?1">
	<title></title>
</head>
<body>
	{include file="wdjd/wddd.html"}
<div class="txtp">
		<p style="margin-bottom: 10px">用户名：。。。</p>
		<p style="margin-bottom: 10px">登录名：</p>
		<p style="margin-bottom: 10px">昵称：</p>
	<p style="margin-bottom: -10px">性别：<tr>
	<td><input type="radio" name="000">男</td>
	<td><input type="radio" name="000" >女</td>
	<td><input type="radio" name="000" >保密</td>
</tr></p>
<tr></br>
	<p><td>生日：<select>
		<option value="1">请选择</option>
	</select></td>年<select>
		<option value="1">请选择</option>
	</select>月
	<select>
		<option value="1">请选择</option>
	</select>日
</tr></p></br>
<p style="margin-bottom: 10px">兴趣爱好：

请选择您感兴趣的分类，给您最精准的推荐</p>

<div style="margin-bottom: 10px">
		<input type="submit" >
</div>
 <span>邮箱：<a style="text-decoration: none;" href="http://localhost/php/index.php?control=wdjd&action=ljyz"> 立即验证</a></a></span>
	</div>
</body>
</html>