<!DOCTYPE html>
<html>
<head>
	<title></title>
	<link rel="stylesheet" type="text/css" href="static/css/jdym.css?1">
	<style type="text/css">		
	</style>
</head>
<body>
	{include file="wdjd/jdym.html"}
<div class="wddd_1">
	<div class="wddd_2">
		<a style="text-decoration: none" href="http://localhost/php/index.php?control=wdjd&action=jbxx"><p>基本信息</p></a><a style="text-decoration: none" href="http://localhost/php/index.php?control=wdjd&action=txtp"><p>头像图片</p></a><a style="text-decoration: none" href="http://localhost/php/index.php?control=wdjd&action=gdxx"><p>更多个人信息</p></a>
	</div>
	
</div>
</body>
</html>